<nav class="navbar navbar-expand-lg navbar-dark bg-dark m-0">
    <a class="navbar-brand" routerLink="/dashboard">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-item nav-link" routerLink="/employee">Employees<span class="sr-only">(current)</span></a>
        </li>
                <!-- (click)="onOpenModal(null,'add') -->


        <li class="nav-item active">
            <a class="nav-item nav-link" routerLink="/stock">Stock<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-item nav-link" routerLink="/schedule">Schedule<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
</nav>


<router-outlet></router-outlet>


<!-- horrible way to do this -->
<!-- client gets an error if I don't add the component selector,
  but if I remove the selecter ng gets mad. so I put it in and made it invis  -->
<div class="invisible">
  <app-employee></app-employee>
  <app-dashboard></app-dashboard>
  <app-stock></app-stock>
  <app-schedule></app-schedule>
</div>
