<nav class="navbar navbar-expand-lg navbar-dark bg-dark m-0">
    <a class="navbar-brand" routerLink="/dashboard">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-item nav-link" routerLink="/employee">Employees<span class="sr-only">(current)</span></a>
        </li>
                <!-- (click)="onOpenModal(null,'add') -->


        <li class="nav-item active">
            <a class="nav-item nav-link" routerLink="/stock">Stock<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-item nav-link" routerLink="/schedule">Schedule<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
</nav>

<div class="invisable">
  <app-employee></app-employee>
  <app-dashboard></app-dashboard>
</div>
