<div class="container">

    <div class="card p-2" >
        <h1 class="display text-center" >Schedule</h1>
    </div>
    


    <div class="row">

        <ul class="nav nav-tabs" >
            <li class="nav-item">
              <a href="#/schedule" class="nav-link {{nav1Active}}" (click)="onNavSwitch(1)">Builder</a>
            </li>
            <li class="nav-item">
              <a href="#/schedule" class="nav-link {{nav2Active}}" (click)="onNavSwitch(2)">Settings</a>
            </li>
        </ul>

        <!-- Single Day  -->
        <div class="card col-12 p-4" *ngIf="nav1Active">
            <div class="card-block p-5">
                <div class="btn-group-vertical col-auto align-bottom">

                    <!-- Y axis label -->
                    <button *ngFor="let time of times" type="button" class="btn btn-outline-secondary" style="min-height: 40px; pointer-events: none;"> {{this.parseTimeToString(time)}} </button>
                    <button type="button" class="btn btn-outline-secondary" style="min-height: 40px; pointer-events: none;"> Total: </button>
                </div>

                <div class="btn-group-vertical col-10">
                    
                    
                    <!-- Name Labels -->
                    <div class="btn-group" role="group">
                        <button *ngFor="let employee of employees" type="button" class="btn btn-outline-dark" style="width: 40px; pointer-events: none; font-weight: bold;"> {{employee.name}} </button>
                    </div>

                    <!-- Button Grid  -->
                    <div *ngFor="let time of times" class="btn-group" role="group">
                        <button *ngFor="let employee of employees" type="button" class="btn border-dark" (click)="onClickSchedule(employee,time)" id="{{employee.id}}-{{time}}"></button>
                    </div>

                    <!-- Hourly totals -->
                    <div class="btn-group" role="group">
                      <button *ngFor="let employee of employees" type="button" class="btn btn-outline-dark" style="width: 40px; pointer-events: none; font-weight: bold;"> {{totalHours(employee)}} </button>
                    </div>                    
                </div>
            </div>

            <div class="d-flex justify-content-md-end p-6">
              <span class="tt" data-bs-placement="top" title="All rows must have at least 1 worker!">
                <button type="submit" class="btn btn-success" [disabled]="hasUnfilledRows()">Submit</button>
              </span>
            </div>
            

        </div><!-- card -->

    </div>
</div>






