<div class="container">

    <div class="card p-2">
        <h1 class="display text-center">Schedule</h1>
    </div>
    

    <div class="row">
        <div class="card col-12 p-4 ">
            <div class="card-block">
                <div class="btn-group-vertical col-auto">

                    <button type="button" class="btn btn-outline-secondary" style="min-height: 40px; pointer-events: none;"> 10:00 </button>
                    <button type="button" class="btn btn-outline-secondary" style="min-height: 40px; pointer-events: none;"> 11:00 </button>
                    <button type="button" class="btn btn-outline-secondary" style="min-height: 40px; pointer-events: none;"> 12:00 </button>
                    <button type="button" class="btn btn-outline-secondary" style="min-height: 40px; pointer-events: none;"> 1:00 </button>
                    <button type="button" class="btn btn-outline-secondary" style="min-height: 40px; pointer-events: none;"> 2:00 </button>
                    <button type="button" class="btn btn-outline-secondary" style="min-height: 40px; pointer-events: none;"> 3:00 </button>
                    <button type="button" class="btn btn-outline-secondary" style="min-height: 40px; pointer-events: none;"> 4:00 </button>
                    <button type="button" class="btn btn-outline-secondary" style="min-height: 40px; pointer-events: none;"> 5:00 </button>
                    <button type="button" class="btn btn-outline-secondary" style="min-height: 40px; pointer-events: none;"> 6:00 </button>
                    <button type="button" class="btn btn-outline-secondary" style="min-height: 40px; pointer-events: none;"> 7:00 </button>
                    <button type="button" class="btn btn-outline-secondary" style="min-height: 40px; pointer-events: none;"> 8:00 </button>

                </div>
                
                <div class="btn-group-vertical col-10">
                    <div class="btn-group" role="group">
                        <button  type="button" class="btn {{buttonType}}" style="min-height: 40px;" (click)="onClickSchedule()"></button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-secondary" style="min-height: 40px;"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-secondary" style="min-height: 40px;"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-secondary" style="min-height: 40px;"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-secondary" style="min-height: 40px;"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-secondary" style="min-height: 40px;"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-secondary" style="min-height: 40px;"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-secondary" style="min-height: 40px;"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-secondary" style="min-height: 40px;"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-secondary" style="min-height: 40px;"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-secondary" style="min-height: 40px;"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                        <button type="button" class="btn btn-outline-secondary"></button>
                    </div>
                </div>
            </div>
            


        </div>
    </div>
</div>





