<div class="container">

    <div class="card p-2">
        <h1 class="display text-center">Welcome to the Dashboard</h1>
    </div>
    

    <div class="row">
        <div class="col-8 d-flex align-items-stretch">
            <div class="card">
                <div class="card-title m-4">
                    <a class="h3" routerLink="/dashboard">Lorem ipsum dolor sit amet.</a>
                </div>
                <div class="card-body">
                    <div class="flex-fill">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum sit nostrum deleniti 
                            beatae aperiam, rerum voluptatem magnam consequatur nobis quas iste culpa delectus
                            laudantium doloribus eos. Voluptatem fugit tempore maiores.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-title m-4">
                    <a class="h3" routerLink="/dashboard">Lorem ipsum dolor sit amet.</a>
                </div>
                <div class="card-body">
                    <div class="flex-fill">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum sit nostrum deleniti 
                            beatae aperiam, rerum voluptatem magnam consequatur nobis quas iste culpa delectus
                            laudantium doloribus eos. Voluptatem fugit tempore maiores.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>